@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --mid-light-gray: #183b56;
  --primary-color: #35c4f2;
  --secondary-color: #4dadf7;;
  --light-gray: #eaeaea;
  --padding-inline: 20px;
  --margin-block: 50px;
  --light-black: #577592;
}

/* !Defualt Adjustment For this Page */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}


h1{
  font-size: 3.30rem;

}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.35rem;
  font-weight: 500;
}


h1,h2,h3,h4,h5{
  font-weight: 550;
  color: #183B56;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.45rem;
  color: #577592;
}


ul li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--mid-light-gray);
}

.container {
  /* max-width: 1680px; */
   max-width: 1480px;
  /* max-width: 1740px; */
  margin-inline: auto;
  overflow: hidden;
}


/* !Utilites */

.white-color{
  color: ghostwhite;
}

.flex{
  display: flex;
  align-items: center;
}


.primary-btn{
  background-color: var(--primary-color);
  color: ghostwhite !important;
  padding: 15px 30px;
  font-weight: 500;
  border-radius: 10px;
  min-width: 120px;
  text-align: center;
  transition: 0.25s ease-in-out;
  font-size: 1.30rem;
}

.primary-btn:hover{
  background-color: var(--secondary-color);
}

.secondary-btn{
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  min-width: 120px;
  border: 2px solid #83d6f1;
  transition: 0.25s ease-in-out;
  background-color: #FFFFFF;
  font-size: 1.30rem;
}

.secondary-btn:hover{
  border-color: #34BCEA;
  color: var(--secondary-color);
}

/*!   ############### SECTIONS ############### */

/* !Top Banner */

.topbanner{
  background: var(--primary-color) url("./assets/asset-0.png");
  height: 80px;
  /* background-image: url("./assets/asset-0.png"); */
}

.top-banner-text{
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 24px;
  color: aliceblue;
}

/* ! Top Header */

.header-cont{
  height: 10vh;
  justify-content: space-between;
  margin-block: var(--margin-block) 80px;

}

.main-nav nav > ul{
  justify-content: flex-end;
  gap: 10px;
}

.header-cont a img{
  align-items: flex-start;
  width: 350px;
}

.header-text-left{
  align-items: flex-start;
  gap: 20px;
}

.header-text-left .special-btn{
  background-color: #EAEAEA;
  padding: 15px;
  border-style: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  font-size: 1.30rem;
}

  .sigin-btn,.sigup-btn{
     margin-inline: 10px;
    }

.main-nav ul li a{
  font-size: 1.45rem;
  padding-inline: 15px;
}

.nav-toggle{
  display: none;
}

.link{
  text-align: center;
  transition: 0.25s ease-in-out;
}
.link:hover{
  color: var(--primary-color);
}




/* !Top Hero Section  */

.hero{
  height: 55vh;
}

.hero-sec{
  justify-content: space-between;
  align-items: center;
}

.hero-txt-left {
  flex-direction: column;
  align-items: flex-start;
  width: 42%;
  margin-inline-end: 5rem;
}

.hero-txt-left h1{
  margin-bottom: 20px;
}

.hero-txt-left p{
  line-height: 2rem;
}


.hero-img-right img{
  width: 90%;
}

.get-str-btn{
  margin-block-start: 30px;
  font-size: 1.50rem;
}



/*! Compaines Section */

.comp-icon{
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;
}

.comp-sect{
  height: 70vh;
}

.comp-icon img{
  height: 40px;
}

.comp-sect h2{
  text-align: center;
}

.comp-icon{
  margin-top: 25px;
}

/*! Features Section  */

.features-cont {
  flex-direction: column;
  text-align: center;
}

/* .features-cont{
  text-align: center;
} */


.features-btn{
  margin-block: 5px 105px;
  font-size: 1.25rem;

}

.box {
  flex-direction: column;
  row-gap: 10px;
  max-width: 30%;
  display: flex;
  align-items: center;
}

.box h3, .box p{
  text-align: center;
}

.box p{
  font-weight: 400;
  color: #577999;
  font-size: 1.60rem;
}

.research-sec-ic {
 justify-content: space-between;
 flex-wrap: wrap;
 row-gap: 50px;
}


.back-img{
  background-image: url("./assets/asset-16.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/*! Big Features Section  */

.big-features{
  margin-top: 35rem;
}

.big-features-img img{ 
  max-width: 100%;
  padding-inline-end: 65px;
  
}

.big-features-text{
  width: 50%;
  align-items: flex-start;
}

.big-features-text h1{
  margin-bottom: 20px;
}

#second-big-feature{
  flex-direction: row-reverse;
  margin-bottom: 180px;
}

.big-features-text p {
  width: 75%; 
  font-weight: 300;
  color: var(--light-black);
}



.big-features-sec-oth {
  margin-top: 150px;
  /* margin-left: 40px; */
}

/*! Endless Scetion  */

.endless-cont{
  height: 100vh;
  margin-top: 26rem;
  flex-wrap: wrap;
}

.endless-text{
  text-align: center;
}


.example-card {
  position: relative;
  width: 23%;
  height: 500px;
  /* margin: 0 10px; */
  transition: 0.4s ease-in-out;
}

.endless-card-cont{
  margin-inline: 10px;
  flex-wrap: wrap;
  gap: 25px; 
}

.endless-text{
  margin-bottom: var(--margin-block);
}


.endless-card-cont > .example-card:nth-child(1){
  /* margin-left: 10px; */
  background: linear-gradient(rgb(0, 0, 0, 0.1 ),rgb(0, 0, 0, 0.8)) ,url("./assets/asset-20.jpeg");
}

.endless-card-cont > .example-card:nth-child(2){
  background: linear-gradient(rgb(0, 0, 0, 0.1 ),rgb(0, 0, 0, 0.8)) ,url("./assets/asset-21.jpeg");
}
.endless-card-cont > .example-card:nth-child(3){
  background: linear-gradient(rgb(0, 0, 0, 0.1 ),rgb(0, 0, 0, 0.8)) ,url("./assets/asset-22.jpeg");
}
.endless-card-cont > .example-card:nth-child(4){
  /* margin-right: 5px; */
  background: linear-gradient(rgb(0, 0, 0, 0.1 ),rgb(0, 0, 0, 0.8)) ,url("./assets/asset-23.jpeg");
}


.example-card:hover {
  box-shadow: 0 0 10px black;
}


.card-text{
  color: whitesmoke;
  position: absolute;
  bottom: 30px;
  text-align: center;
  transition: top 0.6s ease, transform 0.6s ease;

}

/*! Demand Section */


.demand-sec{
  position: relative;
  height: 70vh;
  margin-block: var(--margin-block);
  background-color: #183B54;
}

.demand-head-txt{
  padding-top: 75px;
}

.demand-head-txt h1{
  width: 40%;
  color: ghostwhite;
}
.demand-head-txt p{
  width: 60%;
  margin-top: 30px;
  color: var(--light-black);
}

.demand-list {
  margin-block: 10px 25px;
}

.demand-btn-cont{
  margin-top: 15px;
}

.demand-second-head{
  margin-block: var(--margin-block) 10px;
}


.demand-btn-cont p{
  margin-inline: 20px;
  color: var(--light-black);
}

.demand-list ul li{
  list-style-type: disc;
}

.demand-list ul {
  margin-inline: 25px;
  color: var(--light-black);
  line-height: 2rem;
}  

 .demand-left-img  img{
   height: 650px;
  }

.demand-left-img{
  position: absolute;
  top: 1px;
  /* left: 62%; */
  }

.demand-left-img-cont{
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%; 
 }

 .demand-right-img-inside-text{
  color: rgb(87, 117, 146);
  font-size: 2.30rem;
  font-weight: 500;
  }


.specila-ltr-one{
  color: var(--primary-color);
  font-size: 4.15rem;
}



.under-line{
  text-decoration: underline;
  cursor: pointer;
}

/*! Start Section  */

.start-sct{
  margin-top: var(--margin-block);
  height: 50vh;
  text-align: center;
}

.start-cont h1{
  margin-block: 0 5px;
}

.start-cont h2{
  color: #617592;
  margin-block: 0 20px;
  font-weight: 500;
}



/*! Footer  */

.footer{
  background-color: #EBF2FA;
  height: 65vh;
}


.footer-cont img{
  top: 50%;
  width: 300px;
}


.footer-cont{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sub-footer-head-txt > a{
  text-align: start;
}

.footer-part {
  display: flex;
  flex-direction: column;
}

.footer-part a{
  padding-block: 6px;
  font-size: 1.20rem;
}

/*! Sub Footer  */

.sub-footer{
  background-color: #B9CDE4;
  height: 10vh;
}

.footer-icon{
  font-size: 2rem;
  color: var(--light-black);
  transition: 0.2s ease-in-out;
}

.footer-icon:hover{
  color: var(--mid-light-gray);
}

.sub-footer-txt-cont a{
  padding: 15px;
}

.sub-footer-cont{
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sub-footer-icon-cont a{
  padding-inline: 8px;
}

